@{
    ViewData["Title"] = "About the project";
}

<div class="text-center">
    <h1 class="display-4">This application is the final project of TEAM Nr.3</h1>
    <p>Please choose what is your job position in the company or calculate your net salary</a>.</p>
    <p><a href=""></a>.</p>
</div>
