@model ManagerViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<h1>Manager Section Page</h1>


@using (Html.BeginForm("GetNetSalaryInfo", "NetSalaryCalculator", FormMethod.Post))
{
<div class="form-group">
    <label for="GetReportInfo">Get report:</label>
    <br>
    <input type="text" name="Name" />
    <br/>
    <br>
    <button type="submit" class="btn btn-info" id="add" value="add">Submit</button>
    <br/>
</div>
<div class="form-group">
    <label for="AddNewEmployee">Add the new employee</label>
    <br>
    <input type="text" name="Name" />
    <br />
    <br>
    <button type="submit" class="btn btn-info" id="add" value="add">Add</button>
    <br />
</div>
<div class="form-group">
    <label for="EditEmpployeeInfo">Edit employee's info</label>
    <br>
    <input type="text" name="Name" />
    <br />
    <br>
    <button type="submit" class="btn btn-info" id="add" value="add">Edit</button>
    <br />
</div>
        

 }



